{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -eufo pipefail

brew bundle --file=/dev/stdin <<EOF

brew "fish"
brew "fisher"
brew "mise"
brew "starship"

brew "awscli"
brew "aws-vault"

brew "git"
brew "tree"
brew "jq"

brew "bat"
brew "git-delta"
brew "lazygit"

brew "httpie"
brew "age"
brew "tlrc"
brew "zoxide"
brew "fzf"

# Cask
cask "google-chrome"
cask "visual-studio-code"
cask "ghostty"
cask "raycast"

EOF
{{ end -}}